* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: "Galada", cursive;
}
img {
  max-width: 100%;
}
/* inicio de navbar*/
.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #789395;
  color: rgb(7, 7, 7);
  position: fixed;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav li a {
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  color: black;
}
.nav li a:hover {
  background: #94b49f;
  color: black;
}
/*fin de navbar*/

/* seccion de bienvenida inicio*/
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #b4cfb0;
}
#welcome-section p {
  color: rgb(37, 35, 35);
  font-size: large;
  font-weight: 300;
}
/*final de seccion de bienvenida*/

/*inicio de seccion de proyectos*/
.projects-section {
  padding: 5rem 2rem;
  width: 100%;
  height: 100vh;
  background-color: #e5e3c9;
}
.projects-section h2 {
  text-decoration: underline;
  text-align: center;
}

.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}
.container-box {
  border-radius: 5px;
  text-align: center;
  align-items: flex-end;
  margin: 1em auto;
  border: 2px inset black;
}
.container-box a {
  text-decoration: none;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 250px;
  object-fit: cover;
}

.project-tile {
  background-color: rgb(146, 149, 151);
  color: black;
  padding: 0.3em 2em;
}

.project-tile:hover {
  background-color: rgb(117, 142, 158);
}

.project-image:hover {
  filter: saturate(250%);
}
/*final de seccion de proyectos*/
